header li {
    display: inline;
    border: solid wheat 4px;
    background-color: turquoise;
}

body {
    background-color: teal;
    background-color: hsl(404, 95, 44,1);
}
header {
    background-color: wheat;
    text-align: center;
}
h1 {
    color: rgb(42, 95%, 35%);
    border: #00cc00;
    background-color: powderblue;
}
section {
    
    width: 160px;
}

img {
    width: 160px;
}